.text-muted {
    color: #bdbdbd !important;
}

::-webkit-input-placeholder { /* Edge */
    color: #bdbdbd !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bdbdbd !important;
}

::placeholder {
    color: #bdbdbd !important;
}

.form-controller::placeholder {
    color: #bdbdbd !important;
}

/* SWAL OVERRIDE */

body.swal2-toast-shown .swal2-container.swal2-bottom {
    width: 100%;
}



.vjs-default-skin .vjs-big-play-button {
    font-size: 5em;
    line-height: 1.5em;
    height: 1.5em;
    width: 3em;
    border: none;
    border-radius: 0.3em;
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -0.75em;
    background-color: transparent;
}

.uppy-ProgressBar {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.675rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;

    .uppy-ProgressBar-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #28a745;
        transition: width 0.6s ease;
        box-shadow: none;
    }
}

.file{ 
    position: relative;
    overflow: hidden;
    input {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }
}

#indicator {
    cursor: pointer;
    #indicator-arrow {
        color: #007fff;
        text-shadow: 0 0 1px #003eef;
    }
}